# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 
.vs
Debug
Release
*.filters
*.user
*.licenseheader

# VSCode
.vscode

# json2oab
airspaces
*.oab
*.py
*.ini

# MakeFile
build

#json2oab
*.kml
*.kmz
